body {
    background: url('../images/1fon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registration {

    position: absolute;
    top: 50px;
    left: 350px;
    background: rgba(0,0,0,0.2);
    padding: 15px;
    width: 500px;
    color: #FFF;
    height: 550px;

    font-family: sans-serif;


}

.types label
{

    padding: 10px;

    margin: 5px;

    display: inline-block;

}

.header {

    width: 400px;
 
   height: 30px;
    padding: 0px 0 10px 25px;

    font: 25px arial ;

    text-align: center;
}
.types{

    padding:10px 30px 10px 10px;

}

.types label
{

    padding: 10px;

    margin: 5px;

    width: 150px;
    display: inline-block;
    text-align: center;
}


.types input{
    width: 250px;
    padding: 5px;
}
.types input[type="submit"]{
   width:200px;
   padding:5px;
   margin-left:120px;
}
.types select{
    width: 250px;
    padding: 5px;
}