body {
    background: url('../images/1fon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button[type="submit"]{

    left: 20px;
    background: rgba(0,0,0,0.2);
    width: 150px;
    color: #FFF;
    height: 60px;

    font-family: sans-serif;

    font-size: 20px;
    cursor: pointer;
}
th {
   width: 1000px;
   background: rgba(0,0,0,0.2);
   color: #FFF;	
   font-family: sans-serif;

   font-size: 20px;	
}