<!DOCTYPE html>
<html>
	<head>
		<title>TestSyst</title>
		<link rel="stylesheet" href="../styles/styleCreateAns.css" >
		<link rel="stylesheet" href="../scripts/scriptsCreateAns.js" >
	</head>
	<body>
		<table>
			<tr>
			<td> 
				<form>
					<button type="submit">Личный кабинет</button>
				</form>
				<form>
					<button type="submit">Выйти из системы</button>	
				</form>
			</td>
			<td><div class="createtest">
        		<div class="header">
           		 	<h1>Создание результатов</h1>
        		</div>
			<form class="types" method="post">
            			<div>
               				<label>Название теста</label>
            			</div>
				<br></br>
				<div>
                			<label>Результат 1</label>
                			<input type="data" class="result">
            			</div>
				<div>
                			<label>Баллы: от</label> <input type="data" class="ball"> <label>до</label> <input type="data" class="ball">  
					<br></br>
					<label><input type="submit"  value="Добавить результат"></label>
            			</div>
				<br></br>
				<label><input type="submit"  value="Создать тест"></label>
			</form>
			</td>
			</tr>
		</table>
	</body>
</html>