<!DOCTYPE html>
<html>
	<head>
		<title>TestSyst</title>
		<link rel="stylesheet" href="../styles/styleTest.css" >
		<link rel="stylesheet" href="../scripts/scriptsTest.js" >
	</head>
	<body>
		<table>
			<tr>
			<td> 
				<form>
					<button type="submit">Личный кабинет</button>
				</form>
				<form>
					<button type="submit">Выйти из системы</button>	
				</form>
			</td>
			<td><div class="createtest">
        		<div class="header">
           		 	<h1>Название теста</h1>
        		</div>
			<form class="types" method="post">
               			<label>Вопрос 1</label>
					<p><input question="q1" type="radio" value="ans1"> Ответ 1</p>
    					<p><input question="q1" type="radio" value="ans2"> Ответ 2</p>
				<br></br>
				<label><input type="submit"  value="Пройти тест"></label>
				<br></br>
				<label>Результат:</label>
			</form>
			</td>
			</tr>
		</table>
	</body>
</html>